        <li class="tools-item tools-item--pen tools-item--active "></li>
        <li class="tools-item tools-item--mirror"></li>
        <li class="tools-item tools-item--paint-bucket"></li>
        <li class="tools-item tools-item--paint-bucket-all"></li>
        <li class="tools-item tools-item--eraser"></li>
        <li class="tools-item tools-item--stroke"></li>
        <li class="tools-item tools-item--rectangle"></li>
        <li class="tools-item tools-item--circle"></li>
        <li class="tools-item tools-item--move"></li>
        <li class="tools-item tools-item--shape-selection"></li>
        <li class="tools-item tools-item--rectangle-selection"></li>
        <li class="tools-item tools-item--lasso-selection"></li>
        <li class="tools-item tools-item--lighten"></li>
        <li class="tools-item tools-item--dithering"></li>
        <li class="tools-item tools-item--color-picker"></li>
